.blog {
    margin: 5em;
}

h2 {
  text-decoration: underline;
}

.entry {
  margin: 15px auto;
  padding: 10px;
  border: dashed 1px slategrey;
}


@media (min-width: 770px) {
  p {
    margin: .5em auto;
    padding: .5em;
    text-indent: .75in;
    font-size: 1.25rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: justify;
  }
  
  .journal {
    margin: 1em 0;
  }
  
  .entry {
    margin: 25px auto;
    padding: 50px;
    border: dashed 2px slategrey;
  }
}
