<div>
  <mat-card>
    <mat-card-title>Azure Functions - February 2, 2023</mat-card-title>
    <mat-card-content>
      Where do I start with this one. Friday I was having a love hate
      relationship with az functions. I continue to see the benefit of using
      these small code based functions that are rather powerful when used for
      the correct use case. I also, find that the more I use and research how to
      use this tool the better I get at implementing a standard way of running
      these functions.
    </mat-card-content>
  </mat-card>
</div>
